@media (min-width: 800px) { 


main {
width:80%;
margin:0 auto;

}



body {
margin:0;
padding:0;
font-family: 'Roboto Condensed', sans-serif;

}

header {
margin: 0 auto;
align-content: center;
/* DISPLAY: FLEX; */
height: 70px;
width: 100%;
position: fixed;
top: 0;
background-color: #CE2E18;
/* JUSTIFY-CONTENT: center;*/

}

.desktopMenu nav {

display: flex;
width: 60%;
margin: 0 auto;
justify-content: space-between;
align-items: center;
/* align-content: stretch; */
height: 100%;
/* display: -webkit-flex; */
/* display: inline-flex; */
/* -webkit-justify-content: center; */
/* justify-content: center; */

}

.desktopMenu ul{
height:100%;
/* width:515px; */
margin:0 auto;
padding:0;

display: -webkit-flex;
display: flex;


}

.desktopMenu ul li {
ALIGN-SELF: center;
/* ALIGN-ITEMS: center; */
/* ALIGN-CONTENT: center; */
justify-content: center;
height: auto;
/* margin: 0 auto; */
/* background-color: white; */
display: inline;
/* width: 107px; */
padding: 5px;

}

.desktopMenu a {
    letter-spacing: 2px;
    text-transform: uppercase;
font-weight: 600;
margin: 0;
border-radius: 5px;
/* background: #60B99A; */
color: #fff;
display: block;
padding: 15px;
text-decoration: none;
}

.desktopMenu a:hover {
background-color:white;
color:black;
display:block;
}

.category {

width:100%;
height:52px;
margin:0 auto;

}


.category nav {

height:100%;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;

}

.category ul{
align-items: center;
height: 115px;
/* height: 100%; */
width: 515px;
margin: 0 auto;
padding: 0;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;

}

.category ul li {
justify-content: center;
height: auto;
margin: 0 auto;
/* background-color: white; */
display: inline;
/* width: 107px; */
padding: 10px;
}

.category a {

margin: 0;
border-radius: 5px;
background: black;
color: #fff;
display: block;
padding: 15px;
text-decoration: none;
}



.video video {

position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;

}

.logo {
margin:0 auto;

}

.cart {

margin:0 auto;
}

.logo img {

width:72px;
}

.cart img {

width:40px;

}

.head_menu {
width:50%;

}


footer {
    height:100px;
    width:100%;
    position:Fixed;
    bottom:0;
    background-color:#CE2E18;
    color:white;
    }
    

.footer_flex {
HEIGHT:100%;
display:flex;
width:50%;
margin:0 auto;

justify-content: space-between;
align-items: center;

}

.left_footer {

width:200px;    

}

.right_footer {

width:200px;

}

.right_footer_steps {
    width:65%;
    align-items: center;
    /* line-height: 29px; */
    margin-bottom: 5px;
    /* margin: 0; */
    display: flex;
    justify-content: space-around;
    padding: 0;


}

.right_footer_steps a {
    text-decoration: none;
    background-color: #adadad;
    padding: 5px;
    color: white;

}

.left_footer_steps {
    width:56%;
    align-items: center;
    /* line-height: 29px; */
    margin-bottom: 10px;
    /* margin: 0; */
    display: flex;
    justify-content: space-around;
    padding: 0;


}

.address_footer {
width:20%; 

}

.empty_space_footer {

width:20%; 
}

.contact_footer{
width:20%; 


}

footer img {

width:25px;

}



}