@media (max-width: 600px) { 


    main {


        width:80%;
        margin:0 auto;

    }



body {

 margin:0;
 padding:0;
 font-family:loto;
 


}

header {
    height: 58px;
    width:100%;
    position:fixed;
    top:0;
    background-color:blue;

}


footer {

    height:100px;
    width:100%;
    position:Fixed;
    bottom:0;
    background-color:red;
}

}